.calendar-container {
  margin-top: 10px;
}

.calendar {
  font-size: 26px;
  width: 100%;
}

.calendar-label {
  margin: 4px;
  padding: 5px 5px;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
}

.holiday {
  background-color: rgb(22, 107, 177);
}

.moveable-holiday {
  background-color: rgb(22, 107, 177);
}

.master-cutoff {
  background-color: rgb(0, 0, 0);
}

.no-cycle {
  background-color: rgb(167, 13, 4);
}

.green-cycle {
  background-color: rgb(0, 112, 8);
}

.begin-date {
  background-color: rgb(3, 130, 12);
}

.end-date {
  background-color: rgb(217, 0, 0);
}

.payday {
  background-color: rgb(115, 83, 141);
}

.direct-deposit {
  background-color: rgb(210, 10, 100);
}

/* CALENDAR NAVIGATION */
/* ==== Removes hover effect on calender month/year display =====*/
.react-calendar__navigation button[disabled] {
  color: black !important;
  background-color: white !important;
}

.react-calendar__navigation__label {
  font-size: 22px;
}

.react-calendar__navigation {
  margin: 0px !important;
  padding-top: 10px !important;
  padding-bottom: 42px !important;
  border-bottom: 1px solid lightgrey;
}
/**/

/* MAIN CALENDER UI */
/* decreases calender digits font */
.react-calendar__month-view__days__day {
  font-size: 18px;
}

/* styles weekends with grey */
.react-calendar__month-view__days__day--weekend {
  background-color: rgb(243, 243, 243) !important;
  color: rgb(153, 153, 153) !important;
}

/* removes underline from day of week */
abbr[title] {
  text-decoration: none;
}

/* border around days of the week */
.react-calendar__month-view__weekdays {
  margin: 0px !important;
  border-bottom: 1px solid lightgrey;
}

/* increases line spacing on days of the week */
.react-calendar__month-view__weekdays__weekday {
  letter-spacing: 3.5px !important;
  padding: 5px !important;
}
