.container {
  border: 1px solid #a0a096;
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(243, 243, 243);
}

.col1 {
  justify-self: start;
  display: grid;
  grid-template-rows: auto auto auto;
}

.col2 {
  border-left: 1px solid #a0a096;
  justify-self: start;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 30px;
}

/* selects all divs within col2 */
.col2 div {
  padding: 20px 15px 20px 20px;
}

.col3 {
  border-left: 1px solid #a0a096;
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 30px;
}

/* selects all elements within col2 */
.col3 * {
  padding: 3px;
}
