.container {
  border: 1px solid black;
  padding: 25px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
}

.col1 {
  justify-self: start;
  display: grid;
  grid-template-rows: auto auto auto;
}

.col2 {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  /* padding-left: 10px;
  margin-right: 100px;
  border-left: 1px solid black; */
}

/* selects all children within col2 */
.col2 div {
  padding: 20px;
}

.col3 {
  justify-self: start;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  /* padding-left: 10px;
  margin-right: 120px;
  border-left: 1px solid black; */
}

.col3 * {
  padding: 3px;
}
