.container {
  position: relative;
  top: 8px;
}

.label {
  display: block;
  padding-bottom: 5px;
  font-weight: normal !important;
}

.input {
  border-radius: 5px;
  border: 1px solid #a0a096;
  padding: 5px;
  line-height: 16px !important;
}

.button {
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 8px 0px;
  margin-left: 10px;
  min-width: 50px;
  background-color: lightgray;
  color: black;
}

.button:hover {
  background-color: black;
  color: lightgray;
}
